@import "../../css-config/mixins.scss";
@import "../../css-config/mixins.scss";

.IN-content {
    height: 100%;
    width: 100%;
    .content {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .screen {
            width: 80%;
            display: flex;
            justify-content: right;
            align-items: right;
            background: green;
            height: 700px;
            .person-screen {
                height: 150px;
                width: 300px;
            }
        } 
        .controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            padding-left: 100px;
            .v1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // padding-right: 100px;
                padding-left:200px;
                .audio-controls{
                    padding-top: 20px;
                    padding-right: 100px;
                    button {
                        display:flex;
                        justify-content: right;
                        width: 200px;
                        padding-top: 20px;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        cursor: pointer;
                        background-color: #89898c;
                        border-color: #89898c;
                        color: white;
                        padding: 15px 30px;
                        border-radius: 30px;  
                    }
                }
                .btn {
                    display:flex;
                    justify-content: right;
                    width: 200px;
                    padding-top: 20px;
                    .cta {
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        cursor: pointer;
                        background-color: #4297d0;
                        border-color: #4297d0;
                        color: white;
                        padding: 15px 30px;
                        border-radius: 30px; 
                    }
                }
            }
            .btn {
                display:flex;
                justify-content: right;
                padding-top: 20px;
                width: 200px;
                .cta {
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    cursor: pointer;
                    background-color: #350000;
                    border-color: #350000;
                    color: white;
                    padding: 15px 30px;
                    border-radius: 30px;                    
                }
            }
        }
        
    }
}
